.cart-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin: 60px auto;

    h2 {
        margin-bottom: 30px;
    }

    .cart-table {

    }

    .cart-table-row {
        display: flex;
        justify-content:space-between ;
        border-top: 1px solid $text-color-light;
        padding: 14px 0;
      
      
        &:last-child {
            border-bottom: 1px solid $text-color-light;
        }
        

        .cart-table-row-left, .cart-table-row-right {
            display: flex;
            justify-content: space-between;
        }

        .cart-table-row-left {
            width: 50%;
        }

        .cart-table-row-right {
            width: 40%;
            padding-top: 10px;
        }

        .cart-table-img {
            max-height: 75px;
        }

        @media only screen and (max-width : 768px) {
            .cart-table-img {
                max-width: 75px;
            }
        }
        .cart-table-actions {
            text-align: left;
            font-size: 12px;
        }

        .cart-item-details {
            padding-top: 5px;
             text-align: left;
        }

        .cart-table-description {
            color: $text-color-light;
        }

        .cart-options {
            text-align: left;
            color: $text-color;
            background: transparent;
            font-size: 14px;
            font-weight: 300;
            padding: 0;

            &:hover {
                color: lighten($cart-delete, 10%);
            }
        }
    }

    .have-code {
      display: block;
      margin: 14px 0;
    }

    .have-code-container {
      border: 1px solid $text-color-light;
      padding: 16px;
      width: 50%;

      form {
        display: flex;
        justify-content: space-between;
      }

      input[type="text"] {
        width: 70%;
        padding: 10px;
        font-size: 16px;
      }

      input[type="submit"] {
        background: white;
        border: 1px solid $text-color-light;
        padding-top: 8px;
        padding-bottom: 8px;

        &:hover {
          background: $text-color;
        }
      }
    }

    .cart-totals {
        margin: 20px 0;
        // padding: 10px;
        display: flex;
        justify-content: space-between;
        background: lighten($color: gray, $amount: 40%);
      
    
       

        .cart-totals-left {
            width: 50%;
        }

        @media only screen and (max-width : 768px) {
            .cart-totals-left {
                width: auto;
            }
        }

        .cart-totals-right {
            display: flex;
            justify-content: space-between;
            width: 35%;
            text-align: left;
        }

        @media only screen and (max-width : 768px) {
            .cart-totals-right {
                display: flex;
                width: auto;
                text-align: center;
            }
        }

        .cart-totals-total {
            font-weight: bold;
            font-size: 20px;
             line-height: 2;
        }

      
    }

    .cart-buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        padding: 10px;
    }
}

.cart-icon{    
    fill: #edf2f7;    
}

.cart-icon:hover {
    fill:#81e6d9;
}






