// .navbar.scrolled {
//     background-color: rgb(20, 104, 107) !important;
//     transition: background-color 200ms linear;
//   } 
 
  /* Links inside the navbar */
  .navbar a {
    // float: left;
    // font-size: 16px;
    // color: rgb(223, 37, 37);
    // text-align: center;
    // /* padding: 14px 16px; */
    // text-decoration: none;

  }

  .navbar {
    top: -65px;
    position: fixed;
    transition: top 0.3s;
  }

  /* The dropdown container */
  .dropdown1 {

     float: left; 
     overflow: hidden;
    
  }

  .dropdown-content {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    // transition: 0.5s;
    // transform:translateY(40px);

  }

  @media only screen and (max-width: 768px) {
    .dropdown-content {
        padding-left: 10px;
        padding-right: 10px;
        display: none;
        position: absolute;
        left: 50px;
        right: 50%;
        background-color: #f9f9f9;
        height: auto;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;  
    }
  }

  .upm-content1 {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  
   
    position: absolute;
    left: 200px;
    
    height: auto;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
 

  }

  /* Links inside the dropdown */
  .dropdown-content a {
    // float: none;
    // color:rgb(20, 104, 107);

    // padding-left: 8px;
    // padding-right: 16px;
    // text-decoration: none;
    // display: block;
    // text-align: left;
    // width: 100%;
    // font-size: 14px;

  }

  .dropdown-content span {
    // float: none;
    // color: #0a361b;
    // font-style: bold;
    // padding-top: 16px;
    // padding-left: 8px;
    // padding-right: 16px;
    // padding-bottom: 8px;
    // text-decoration: none;
    // display: block;
    // text-align: left;
    // width: 100%;
    // font-size: 14px;


  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    // background-color: #f2f7e8;
    /* background-color: #0f284e; */
    /* color:#fc9700; */


  }


  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    position: absolute;
    // left: 130px;
    right: 0;
  
    background-color:white;
    color: white;
    // transform:translateY(0px);
    }

    @media only screen and (max-width: 768px) {
      .dropdown:hover .dropdown-content {
        display: none;
      }
    }

  .dropbtn {
    // color: white;
    padding: 30px;
    font-size: 16px;
    border: none;
    
  }

  @media only screen and (max-width: 768px) {
    .dropbtn {
      // color: white;
      padding: 0px;
    }
  }

  .upm:hover .upm-content1 {
   
    // display: block;
    // min-width: 250px;
    // position: absolute;
    // padding: 25px 30px;
  
    
    // float: right; 
    //  overflow: hidden;

    }

  .upmbtn {
    // color: white;
    padding: 30px;
    font-size: 16px;
    border: none;
  }

  .img-wrapper {

    overflow: hidden;
  }

  .inner-img {
    transition: 0.3s;
  }

  .inner-img:hover {
    transform: scale(1.1);
  }



  .zig-zag {
    border: none;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 20px;
    background: linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -20px 0, linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -20px 0, linear-gradient(315deg, #ECEDDC 25%, transparent 25%), linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 40px 40px;
    background-color: #3c434e;
  }

  /* Other styling elements, that are not necessary for the example */

  .module {
    background: white;
    border: 1px solid #ccc;

    >h2 {
      padding: 1rem;
      margin: 0 0 0.5rem 0;

    }

    >p {
      padding: 0 1rem;
    }
  }

  .stripe-4 {
    color: white;
    background: repeating-linear-gradient(-55deg,
        rgb(75, 216, 252),
        #233 10px,
        rgb(45, 190, 178) 10px,
        rgb(20, 104, 107) !important);
  }

  .example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }

  .example_e:hover {
    color: #fc9700 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }

  .mapa:hover,
  .mapa:focus {
    width: 300px;
    height: 300px;
  }

  .ime:hover,
  .ime:focus {

    text-transform: capitalize;

  }

  #social {
    color: white;
    height: 60px;
    width: 60px;
    margin-left: 60px;
    margin-right: 10px;
    font-size: 40px;

  }

  #social a:hover {
    font-size: 50px;
    transition: 0.1s ease-in;
    color: #fc9700;
  }


  #social1 {
    color: white !important;
    height: 60px;


    font-size: 40px;

  }

  #social1 a:hover {
    font-size: 50px;
    transition: 0.1s ease-in;
    color: rgb(119, 237, 241);
  }
  
