.alert{
    padding: 15px;
    margin-bottom: 20px;
    border:1px solid transparent;
    border-radius:4px;

}

.alert-danger{
    color:white;
    background-color: rgb(204, 9, 9);
    


}

.alert-success{
 color:white;
//    border-color: rgb(242, 245, 243);
   background-color: 
   rgb(127, 172, 137)
}