.breadcrumbs {
    background:white ;
    padding: 20px 0;
      font-size: 12px;

    .breadcrumb-separator {
        font-size: 10px;
        color: lighten($text-color, 20%);
    }

    .breadcrumbs-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-box{
            padding:5px 5px;
        }
    
    }

    @media only screen and (max-width : 768px) {
        .breadcrumbs-container {
            justify-content: center;
        }
    
    }
}