.breadcrumbs {
    background:white ;
    // border-bottom: 1px solid $separator-color;
    padding: 8px 0;
      font-size: 12px;

    .breadcrumb-separator {
        font-size: 10px;
        color: lighten($text-color, 20%);
    }

    .breadcrumbs-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-box{
            padding:5px 5px;
        }
    
    }
}