header.with-background {
   color: $white;
       background: url('./img/ramin-talebi-u_b0jWnkgM0-unsplash-1.jpg');
      
     
      background-position: center center;
      background-size: cover;
      background-position-y: top;
      border-bottom-left-radius: 50% 30%;
      border-bottom-right-radius: 50% 30%;
      height: 750px;
 
  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    letter-spacing: 1.5px;
    

    .logo {
      font-weight: bold;
      font-size: 28px;
    
    }

    
  }

  .hero {
    // display: grid;
    // grid-template-columns: 1fr 1fr; //repeat(2, 1fr)
    grid-gap: $gutter;
    padding-top: 20px;
    padding-bottom: 84px;

    h1 {
      font-size: 52px;
      margin-top: 50px;
    }

    p {
      margin: 40px 0 68px;
    }

    .button {
      margin-right: 14px;
    }
  }
}

header {

  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 34px 0;
    letter-spacing: 1.5px;

    .logo {
      font-weight: bold;
      font-size: 28px;
      color: $gray-background;
      margin-right: 58px;
    }

    ul {
      display: flex;
      padding-top: 0px;
      font-weight: 400;

      li {
        margin-right: 0px;

        &:last-child {
          margin-right: 0;
        }
      }

      .cart-count {
        display: inline-block;
        background: $cart-count;
        color: $text-color;
        line-height: 0;
        border-radius: 50%;
        font-size: 14px;

        span {
          display: inline-block;
          padding-top: 50%;
          padding-bottom: 50%;
          margin-left:6px;
          margin-right:6px;
        }
      }

    }
  }

  .top-nav-left {
    display: flex;

    .logo-left{
      margin-right: 1px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      color: $gray-background;

      .title{
        margin-right: 7px;
        color: $gray-background;
      }
    }
    
  }

     .top-nav-right {
      display: flex;
      
   
    } 
}